@import "./fonts";
@import "./components/home-form";
body {
  margin: 0;
}

.full-page-grid {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 4em 1fr 4em;
  grid-gap: 27px 0;
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
}

.modal-background {
  background-color: lightgrey;
  opacity: 0.5;
  z-index: 10;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
}

.modal {
  z-index: 11;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content {
  padding: 0vh 2vw;
  height: 21vh;
  width: 93vw;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: green;
  border-radius: 3%;
}

@keyframes appear {
  0% {
    transform: scale(0.1, 0.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes appear2 {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(0.1, 0.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
