@import "./fonts";
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: silver;
}

a:hover {
  font-weight: bold;
}

.modal-background {
  background-color: lightgrey;
  opacity: 0.5;
  z-index: 10;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
}

.modal {
  z-index: 11;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-pad {
  overflow: scroll;
  height: 85vh;
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: green;
  border-radius: 4%;
  align-items: center;
}

.upper-modal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.modal-content {
  //   padding: 25vh 2vw;
  //   width: 93vw;
  //   opacity: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8fr 1fr;
  width: 75%;
  height: 100%;
  //   background-color: green;
  //   border-radius: 3%;
}

@keyframes appear {
  0% {
    transform: scale(0.1, 0.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes appear2 {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(0.1, 0.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

div.scale-in {
  animation: 2s ease-out 0s 1 appear2;
}

div.rotate-forever {
  animation: 2.5s linear 0s infinite spinner;
}

span.ln-search-highlight {
  color: brown;
  font-weight: bold;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.big-size {
  font-size: 64px;
}
